@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}
  <div class="col-md-12">
    @foreach (var noticia in Model.Noticias)
    {
      <h1>
        <a asp-controller="Home" 
                   asp-action="Noticia"
                   asp-route-id="@noticia.NoticiaId">
        @noticia.Titulo</a></h1>
      <p>@noticia.Descripcion</p>

      <div>
        <span class="badge">@noticia.FechaCreacion.ToShortDateString() - @noticia.Autor</span>
      </div>
      <hr>
    }
  </div>
